<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJJS324sJIJ0Hzx5TdBwWHD_7snDCzLX0FfA&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alex</h5>
                            <p class="card-text">Id: 5478</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNWTECinNzubn9x1MUineZyYWjE6Wv4k3LyA&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mathew</h5>
                            <p class="card-text">Id:7894</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://wl-brightside.cf.tsp.li/resize/728x/jpg/bf0/944/7889d15ec98e3b8e5ca930c9e1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alexander</h5>
                            <p class="card-text">Id:4583</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSff5Mlc6I839nig4OW6Lc1dVGBFRspeMc82A&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Luke</h5>
                            <p class="card-text">Id: 3412</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiwT0H0M8MOcGmSvlOqbmJousWlFWbidKtw&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alen</h5>
                            <p class="card-text">Id: 4632</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiLOGsIVm_2Co_N1Vn_rFDeWOEIKdINB8Zdg&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Abin</h5>
                            <p class="card-text">Id: 4652</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://t3.ftcdn.net/jpg/02/22/85/16/360_F_222851624_jfoMGbJxwRi5AWGdPgXKSABMnzCQo9RN.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Yedu</h5>
                            <p class="card-text">Id: 8632</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP7nxz1yioVRsom1BjR4cgbKMpZkRx2Cn4cKOEo8-WPatuCYODTIPFSdx9hJLcabT5Sqo&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Yethi</h5>
                            <p class="card-text">Id: 2632</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXSAGirBVOXf-ziW-ui6PE-7tTUeRqwUND4Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kiran</h5>
                            <p class="card-text">Id: 8832</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>